/* CartPage.css */

.cart-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 8%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-table th,
  .cart-table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .quantity-cell {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .quantity-btn {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #a9afb4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 5px;
  }
  
  .quantity {
    margin: 0 10px;
    font-weight: bold;
  }
  
  .delete-btn {
    background-color: #f097ad;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .delete-btn:hover {
    background-color: #f097ad;
  }
  
  .total-amount {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .checkout-btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #fb6f92;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  .checkout-btn:hover {
    background-color: #650c53;
  }