.payment-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
     }
  
  .order-summary {
    margin-bottom: 30px;
  }
  
  .order-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-table th,
  .order-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  .order-table th {
    background-color: #f4f4f4;
  }
  
  .total-amount {
    text-align: right;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .payment-buttons {
    display: flex;
    justify-content: center;
  }
  
  .checkout-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fb6f92;
    border: none;
    cursor: pointer;
  }
  
  .checkout-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  